:root{
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 128px;
  height: 128px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.loader-inner {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background: #222b32;
  border-radius: 50%;
}

.loader-foreground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1AD0E7;
  transform: translateY(128px);
}

.hidden {
  display: none;
}
      

canvas {
  top: 0;
  left: 0;
}

#overlay-text-header {
    position: absolute;
    top: 30%; /* Adjust vertical position */
    left: 12%; /* Adjust horizontal position */
    /*color: white; /* Text color */
    color: black; /* Text color */
    font-size: 72px; /* Font size */
    font-family: 'Raleway', sans-serif;
    z-index: 10; /* Ensure it appears above the canvas */
}

#overlay-text-subheader {
    position: absolute;
    top: 38%;
    left: 12%;
    /*color: lightgray; /* Text color */
    color: gray; /* Text color */
    font-size: 48px; /* Font size */
    font-family: 'Raleway', sans-serif;
    z-index: 10; /* Ensure it appears above the canvas */
}

#overlay-text-subheader-2 {
    position: absolute;
    top: 44%;
    left: 12%;
    /*color: lightgray; /* Text color */
    color: gray; /* Text color */
    font-size: 36px; /* Font size */
    font-family: 'Raleway', sans-serif;
    z-index: 10; /* Ensure it appears above the canvas */
}

body{
    /*background-color: #2A637A;
    background-image: linear-gradient(#0E1114, #1E2539);*/
    
    /*background-image: linear-gradient(#242424, #242424);*/
    
    background-image: linear-gradient(to right, white , lightgray);
    
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
}

/*body p, h2{
    color: #c4c4c4;
}

body h2{
    color: #c4c4c4;
}*/

main{
    /*
    background-color: #86CDEA;
    background-image: linear-gradient(#222930, #414963);
    */
    
    /*background-image: linear-gradient(#303030, #303030);*/
    
    width: 85%;
    padding-top: 2%;
    padding-bottom: 10%;
    margin: auto;
}

.btn-custom{
    background-color: #1AD0E7 !important;
}

.btn-custom-active{
    background-color: #15A6B9 !important;
}

header{
    background-color: #1AD0E7;
    width: 75%;
    margin: auto;
}

p{
    padding-left: 20%;
    padding-right: 20%;
}

a:link{
    color: #1AD0E7;
}

a:hover{
    color: #138e9e;
}

.active{
    background-color: rgba(0, 0, 0, 0.2)
}

.SoftwareIcon{
    width: 48px;
    height: 48px;
}

/*
width
::-webkit-scrollbar {
  width: 20px;
}

Track
::-webkit-scrollbar-track {
  background: #222930; 
}
 
Handle
::-webkit-scrollbar-thumb {
  background: #1AD0E7; 
}

Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
*/

#page-hero{
    position: fixed;
    right: 12.5%;
    z-index: 1000;
}

img {
    max-width: 100%;
    height: auto;
}

.profile{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border:2px solid white;
}

#aboutInfo{
    text-align: center;
}

#reel{
    width: 100%;
}

#reelContainer{
    overflow: hidden;
    max-height: 300px;
}

#projects, #experiments{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30%;
}

#projects p, #experiments p{
    padding-bottom: 60%;
    background-image: linear-gradient(transparent, black);
}

#aboutInfo, #projects{
    padding-bottom: 5%;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

#socialMediaIcons{
    padding: 10px;
}

.icon{
    padding: 3px;
    transition: .5s;
}

.icon:hover{
    transform: scale(1.3) rotate(15deg);
    transition: .5s;
}

#contact{
    text-align: center;
}

#phone, #email{
    display: inline-block;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
}

#projects img, #experiments img, #experiments video, #projects video{
    cursor: pointer;
    transition: 0.3s;
}

#projects img:hover, #experiments img:hover, #experiments video:hover, #projects video:hover{
     transform: scale(1.3);
     transition: 0.3s;
}

.col-lg{
    overflow: hidden;
    margin: 1%;
}

.col-lg p{
    font-size: 20px;
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 55%;
    bottom: 0%;
    margin: auto;
    color: ghostwhite;
    pointer-events: none;
    transition: 0.5s ease;
    padding-left: 0%;
    padding-right: 0%;
}

.col-md{
    overflow: hidden;
    margin: 1%;
}

.col-md p{
    font-size: 20px;
    opacity: 1;
    position: absolute;
    right: 0;
    left: 0;
    top: 85%;
    bottom: 0%;
    margin: auto;
    color: ghostwhite;
    pointer-events: none;
    transition: 0.5s ease;
    padding-left: 0%;
    padding-right: 0%;
}

.col-md img {
    max-width: 70%;
    height: auto;
}


img:hover ~ p, video:hover ~ p{
    opacity: 1;
    transition: 0.5s ease;
}

.modal-dialog{
    background: none;
    background-color: transparent;
}

iframe{
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border:2px solid #1AD0E7;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col-lg p{
      opacity: 1;
   }
    
    #reel{
        padding-top: 40px;
    }
    
    iframe{
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
    }
    
    main{
        width: 100%
    }
    
    header{
        width: 100%;
    }
    
    #page-hero{
        right: 0%;
    }
    
    #OverDrive{
        content: url("../media/PortfolioCovers/OverDrive.jpg");
    }
    
    #PartyCrashers{
        content: url("../media/PortfolioCovers/PartyCrashers.jpg");
    }
    
    .SoftwareIcon{
        width: 32px;
        height: 32px;
    }
}