html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
}

.fade-in {
    opacity: 0; /* Start fully transparent */
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 128px;
  height: 128px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.loader-inner {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background: #222b32;
  border-radius: 50%;
}

.loader-foreground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1AD0E7;
  transform: translateY(128px);
}

.hidden {
  display: none;
}
      

canvas {
  top: 0;
  left: 0;
}

#overlay-text-header {
    position: absolute;
    top: 30%; /* Adjust vertical position */
    left: 12%; /* Adjust horizontal position */
    font-size: 72px; /* Font size */
    font-family: 'Raleway', sans-serif;
    z-index: 10; /* Ensure it appears above the canvas */
    transition: color 0.5s ease;
}

body.light-mode #overlay-text-header, body.light-mode .navbar-brand{
    color: black; /* Text color */
}

body.dark-mode #overlay-text-header, body.dark-mode .navbar-brand{
    color: white; /* Text color */
}

#overlay-text-subheader {
    position: absolute;
    top: 39%;
    left: 12%;
    font-size: 48px; /* Font size */
    font-family: 'Raleway', sans-serif;
    z-index: 10; /* Ensure it appears above the canvas */
    transition: color 0.5s ease;
}

body.light-mode #overlay-text-subheader {
    color: gray; /* Text color */
}

body.dark-mode #overlay-text-subheader {
    color: lightgray; /* Text color */
}

/* Gradient background container */
#gradient-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it's behind everything */
}

header {
    position: relative;
    z-index: 1; /* Place above gradient layer */
    
    width: 100%;
    margin: auto;
}

body{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
}

#gradient-layer::before,
#gradient-layer::after,
header::before,
header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind the content */
    transition: opacity 0.5s ease;
}

#gradient-layer::before, header::before {
    background-image: linear-gradient(to right, white , lightgray);
    opacity: 1; /* Default light mode */
}

#gradient-layer::after, header::after {
    background-image: linear-gradient(to right, #2e2e2e , #4d4d4d);
    opacity: 0; /* Hidden in light mode */
}

body.dark-mode #gradient-layer::before, body.dark-mode header::before {
    opacity: 0; /* Hide light mode */
}

body.dark-mode #gradient-layer::after, body.dark-mode header::after {
    background-image: linear-gradient(to right, #2e2e2e , #4d4d4d);
    opacity: 1; /* Show dark mode */
}

main{
    width: 85%;
    padding-top: 2%;
    padding-bottom: 10%;
    margin: auto;
}

.btn-custom{
    background-color: #1AD0E7 !important;
}

.btn-custom-active{
    background-color: #15A6B9 !important;
}

.navbar{
    opacity: 0;
}

.navbar-brand {
    margin-left: -15%; /* Adjust the value to fine-tune the brand's position */
    transition: color 0.5s ease;
}

.nav-right {
    margin-left: auto; /* Push the navigation links to the right */
    display: flex; /* Ensure proper alignment of flex items */
    justify-content: flex-end; /* Ensure links are aligned to the end */
}

body.light-mode .nav-item.nav-link {
    color: gray;
}

body.dark-mode .nav-item.nav-link {
    color: lightgray;
}

p{
    padding-left: 20%;
    padding-right: 20%;
}

a:link{
    color: #1AD0E7;
}

a:hover{
    color: #138e9e;
}

.active{
    background-color: rgba(0, 0, 0, 0.2)
}

.SoftwareIcon{
    width: 48px;
    height: 48px;
}

/*
width
::-webkit-scrollbar {
  width: 20px;
}

Track
::-webkit-scrollbar-track {
  background: #222930; 
}
 
Handle
::-webkit-scrollbar-thumb {
  background: #1AD0E7; 
}

Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
*/

#page-hero{
    position: fixed;
    /*right: 12.5%;*/
    z-index: 1000;
}

img {
    max-width: 100%;
    height: auto;
}

.profile{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border:2px solid white;
}

#aboutInfo h1, #socialMediaIcons{
    text-align: center;
}

p{
    transition: color 0.5s ease;
}

body.light-mode p{
    color: dimgray; /* Text color */
}

body.dark-mode p{
    color: lightgray; /* Text color */
}

#reel{
    width: 100%;
}

#reelContainer{
    overflow: hidden;
    max-height: 300px;
}

#projects, #experiments{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30%;
}

#projects p, #experiments p{
    padding-bottom: 60%;
    background-image: linear-gradient(transparent, black);
}

#aboutInfo, #projects{
    padding-bottom: 5%;
}

h1{
    font-size: 40px;
    transition: color 0.5s ease;
}

body.light-mode h1{
    color: black; /* Text color */
}

body.dark-mode h1{
    color: white; /* Text color */
}

h2{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

#socialMediaIcons{
    padding: 10px;
    transition: filter 0.5s ease;
}

body.light-mode #socialMediaIcons{
    filter: invert(100%);
}

body.dark-mode #socialMediaIcons{
    filter: invert(0%);
}

.icon{
    padding: 3px;
    transition: .5s;
    vertical-align: middle;
}

.icon:hover{
    transform: scale(1.3) rotate(15deg);
    transition: .5s;
}

#contact{
    text-align: center;
}

#phone, #email{
    display: inline-block;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
}

#projects img, #experiments img, #experiments video, #projects video{
    cursor: pointer;
    transition: 0.3s;
}

#projects img:hover, #experiments img:hover, #experiments video:hover, #projects video:hover{
     transform: scale(1.3);
     transition: 0.3s;
}

.col-lg{
    overflow: hidden;
    margin: 1%;
}

.col-lg p{
    font-size: 20px;
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    top: 55%;
    bottom: 0%;
    margin: auto;
    color: ghostwhite;
    pointer-events: none;
    transition: 0.5s ease;
    padding-left: 0%;
    padding-right: 0%;
}

.col-md{
    overflow: hidden;
    margin: 1%;
}

.col-md p{
    font-size: 20px;
    opacity: 1;
    position: absolute;
    right: 0;
    left: 0;
    top: 85%;
    bottom: 0%;
    margin: auto;
    color: ghostwhite;
    pointer-events: none;
    transition: 0.5s ease;
    padding-left: 0%;
    padding-right: 0%;
}

.col-md img {
    max-width: 70%;
    height: auto;
}


img:hover ~ p, video:hover ~ p{
    opacity: 1;
    transition: 0.5s ease;
}

.modal-dialog{
    background: none;
    background-color: transparent;
}

iframe{
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border:2px solid #1AD0E7;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .col-lg p{
      opacity: 1;
   }
    
    #reel{
        padding-top: 40px;
    }
    
    iframe{
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
    }
    
    main{
        width: 100%
    }
    
    header{
        width: 100%;
    }
    
    #page-hero{
        right: 0%;
    }
    
    .SoftwareIcon{
        width: 32px;
        height: 32px;
    }
}

/* Light mode / Dark mode toggle */
/* From Uiverse.io by satyamchaudharydev */ 
/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}